body
{
	background-color: rgba(255, 255, 255, 1.0);
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Georgia, serif;
}

h1
{
	font-size: 280%;
}

h2
{
	font-size: 200%;
}

h3
{
	font-size: 175%;
}

h4
{
}

h5
{
}

p
{
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

a
{
	color: rgba(0, 0, 0, 1.0);
	text-decoration: none;
}

nav a
{
	font-family: Helvetica, Arial, sans-serif;
}