@media screen and (min-width: 1200px)
{
	/* ------------------------------------------------------ */
	/* Site Wide CSS                                          */
	/* ------------------------------------------------------ */
	.container
	{
		width: 1100px;
		margin: 0 auto;
	}
	
	#content
	{
		width: 100%;
		margin-top: 35px;
	}
	
	#page-wrapper
	{
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		line-height: 1.5;
	}
	
	h2#page
	{
		margin-bottom: 10px;
	}
	
	/* ------------------------------------------------------ */
	/* Header                                                 */
	/* ------------------------------------------------------ */
	header
	{
		width: 100%;
		background-color: rgba(1, 1, 1, 1.0);
		height: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: 3px 0 3px rgba(0, 0, 0, 1.0);
	}
	
	#identity
	{
		float: left;
		width: 30%;
		height: 50px;
	}
	
	h1#site-title
	{
		font-family: Georgia, serif;
		letter-spacing: 3px;
		line-height: 30px;
	}
	
	h1#site-title a
	{
		color: rgba(255, 255, 255, 1.0);
		text-decoration: none;
	}
	
	h3#job-description
	{	
		font-family: Helvetica, Arial, sans-serif;
		color: rgba(0, 201, 87, 1.0);
		letter-spacing: 1px;
		font-weight: normal;
		line-height: 16px;
		text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.45);
	}

	/* ------------------------------------------------------ */
	/* Navigation                                             */
	/* ------------------------------------------------------ */	
	nav
	{
		float: right;
		width: 300px;
		height: 50px;
		margin auto 0;
	}
	
	nav ul#menu-main
	{
		margin-top: 15px;
		float: right;
	}
	
	nav li
	{
		display: inline;
		float: left;
		padding-right: 10px;
	}
	
	nav li a
	{
		font-size: 130%;
		text-decoration: none;
		color: rgba(255, 255, 255, 1.0);
	}
	
	nav li a:hover
	{
		color: rgba(0, 201, 87, 1.0);
	}
	
	/* Current Menu Item ------------------------------------ */
	nav li.current-menu-item a
	{
		color: rgba(255, 255, 255, 0.7);
	}
	
	nav li.current-menu-item a:hover
	{
		color: rgba(255, 255, 255, 0.7);
	}
	
	/* ------------------------------------------------------ */
	/* Home Page Featured Items                               */
	/* ------------------------------------------------------ */
	.featured
	{
		padding-left: 10px;
		padding-right: 10px;
		line-height: 1.5;
		float: left;
	}
	
	article.featured
	{
		float: left;
		width: 530px;
		margin-right: 10px;
	}
	
	article.featured img
	{
		float: left;
		margin-right: 10px;
	}
	
	h2.project-title
	{
	}
	
	h2.project-title a
	{
		text-decoration: none;
		color: rgba(0, 0, 0, 1.0);
	}
	
	h5.project-category
	{
	}
	
	h5.project-category a
	{
		color: rgba(255, 51, 51, 1.0);
		text-decoration: none;
		font-family: Helvetica, Arial, sans-serif;
	}
	
	article.featured p
	{
	}
	
	/* ------------------------------------------------------ */
	/* Portfolio Page Items                                   */
	/* ------------------------------------------------------ */
	#project-wrapper
	{
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		line-height: 1.5;
	}
	
	article.project
	{
		float: left;
		width: 530px;
		margin-right: 10px;
		height: 230px;
		padding-bottom: 5px;
		margin-bottom: 25px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		padding-top: 10px;
	}
	
	article.project img
	{
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}
	
	/* ------------------------------------------------------ */
	/* Home Page About                                        */
	/* ------------------------------------------------------ */
	#about
	{
		width: 300px;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 10px;
	}
	
	#about p
	{
		line-height: 1.4;
		font-size: 125%;
		word-spacing: 1px;
	}
	
	/* ------------------------------------------------------ */
	/* Home Page Skill Items                                  */
	/* ------------------------------------------------------ */
	.skills
	{
		padding-left: 10px;
		padding-right: 10px;
		line-height: 1.5;
		width: 160px;
		float: left;
	}
	
	article.skill
	{
		float: left;
		clear-after: both;
		padding-bottom: 5px;
		width: 100%;
		/* border-bottom: 1px dashed rgba(0, 0, 0, 0.3); */
		margin-bottom: 10px;
	}
	
	img.symbol
	{
		float: left;
		padding: 7px;
		border-radius: 25px;
		background-color: rgba(0, 103, 165, 1.0);
		margin-right: 12px;
	}
	
	h2.skill-title
	{
		float: left;
		font-size: 200%;
	}
	
	h5.skill-category
	{
		color: rgba(0, 103, 165, 1.0);
		float: left;
	}
	
	/* ------------------------------------------------------ */
	/* Home Page Bottom Page                                  */
	/* ------------------------------------------------------ */
	.bottom
	{
		margin-top: 20px;
	}
	
	.third-container
	{
		float: left;
		width: 345px;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 1.2;
	}
	
	.third-header
	{
		background-color: rgba(0, 0, 0, 1.0);
		width: 345px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	h2.small-header
	{
		color: rgba(255, 255, 255, 1.0);
		padding-left: 10px;
	}
	
	.third-content
	{
		width: 343px;
		border: 1px solid rgba(0, 0, 0, 1.0);
	}
	
	.third-content ul.twitter
	{
		padding: 8px;
	}
	
	li.twitter-item
	{
		width: 100%;
		margin-bottom: 15px;
		padding-bottom: 5px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.7);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		font-size: 110%;
	}
	
	li.twitter-item a
	{
		color: rgba(0, 103, 165, 1.0);
	}
	
	article.news-post
	{
		margin: 8px;
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 5px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.7);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	}
	
	h3.news-title
	{
		font-family: Helvetica, Arial, sans-serif;
	}
	
	h3.news-title a
	{
		color: rgba(0, 103, 165, 1.0);
	}
	
	.meta
	{
		color: rgba(0, 0, 0, 0.7);
		font-size: 95%;
	}
	
	.meta a
	{
		color: rgba(255, 51, 51, 1.0);
	}
	
	/* ------------------------------------------------------ */
	/* Blog Template                                          */
	/* ------------------------------------------------------ */
	#posts
	{
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		float: left;
		width: 78%;
	}
	
	article.blog-post
	{
		margin-bottom: 20px;
		margin-right: 10px;
		width: 97%;
		line-height: 1.5;
	}
	
	h2.post-title
	{
		
	}
	
	h2.post-title a:hover
	{
		color: rgba(0, 103, 165, 1.0);
		text-decoration: underline;
	}
	
	/* Sidebar Items ---------------------------------------- */
	#sidebar
	{
		width: 18%;
		float: left;
		padding-right: 10px;
	}
	
	h2.widgettitle
	{
		width: 95%;
		background-color: rgba(0, 0, 0, 1.0);
		color: rgba(255, 255, 255, 1.0);
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		padding-top: 8px;
		margin-bottom: 10px;
	}
	
	li.widget
	{
		margin-bottom: 20px;
	}
	
	li.twitter-post
	{
		margin-bottom: 10px;
	}
	
	/* ------------------------------------------------------ */
	/* Footer                                                 */
	/* ------------------------------------------------------ */
	footer
	{
		margin-top: 30px;
		width: 100%;
	}
	
	footer p
	{
		line-height: 1.4;
	}
	
}